body {
    background-image: url(../img/colores\ fondo.png); 
    width: auto;
    height: auto;   
     font-family: "Source Code Pro", monospace;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
     color: aliceblue;
     
              
 }

 .redes {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    gap: 1rem;

}

.facebook, .instagram, .github{
    padding-right: 15px;
    
}

.img{
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2{
    text-align: center;
    color: orangered;
    
}

footer {
    color: white;
   
    width: 50%;
    height: 50%;
    margin: 0;

}

.contenido{
    color: rgb(198, 201, 203);
    font-size: medium;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    
}

header{
    position: static;
}



